@font-face {
    font-family: 'Raleway';
    src: url('raleway-regular-webfont.woff2') format('woff2'),
         url('raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: auto;
    width: 100%;
    overflow: visible;
    background-color: #f8f8f8;
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.topimg,.topimg__name {
    position: absolute;
    left: 0;
    right: 0
}

.topimg {
    background-image: url(https://www.walldevil.com/wallpapers/w07/simple-background-simple-hd-background.jpg);
    background-repeat: no-repeat;
    top: 0;
    height: 450px;
    background-color: #000
}

.topimg__name {
    top: 40px;
    width: 230px;
    height: 50px;
    margin: auto;
    text-align: center;
    background-color: #e9e9e9;
    border: solid 3px #141823
}

.topimg__name--text {
    position: relative;
    color: #141823;
    font-family: 'Raleway',sans-serif;
    font-size: 32px;
    font-weight: normal;
    top: -24px;
    bottom: 0;
    right: 0;
    left: 0;
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-align: center
}

.topimg__myimg,.topimg__myimg--circle {
    border-radius: 70px;
    margin: auto;
    height: 140px;
    width: 140px
}

.topimg__myimg {
    top: 33%;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #000;
    border: solid 2px #000;
    position: absolute
}

.topimg__myimg--circle {
    position: relative
}

.topimg__dev {
    position: absolute;
    top: 350px;
    left: 0;
    right: 0;
    width: 330px;
    height: 50px;
    margin: auto;
    text-align: center;
    background-color: #e9e9e9;
    border: solid 3px #141823
}

.topimg__dev--text {
    position: relative;
    color: #141823;
    font-family: 'Raleway',sans-serif;
    font-size: 32px;
    font-weight: normal;
    top: -24px;
    bottom: 0;
    right: 0;
    left: 0;
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-align: center
}

.topimg__git {
    position: fixed;
    left: 0;
    top: 0;
    height: 50px;
    width: 50px;
    display: block;
    z-index: 20000
}

.topimg__git,.topimg__git--back,.topimg__git--click {
    outline: none;
    text-decoration: none;
    cursor: pointer
}

.topimg__git--back {
    height: 50px;
    width: 50px;
    background-image: url(https://i.imgur.com/cKO9x3q.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: .3s;
    position: relative
}

.topimg__git--click {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}

#menutext,.fixed,.menu {
    text-align: center;
    right: 0
}

.menu {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 10000;
    background-color: #f8f8f8;
    top: 450px
}

#menutext,a {
    color: #141823;
}

#menutext a {
    transition: .3s
}

#menutext,.fixed {
    top: 0
}

#menutext {
    bottom: 0;
    list-style: none;
    font-family: 'Raleway',sans-serif;
    font-size: 15px;
    position: relative;
    left: -40px
}

.fixed {
    position: fixed;
    left: 0;
    height: 50px;
    width: 100%
}

li {
    display: inline;
    padding: 0 30px
}

a,a:hover {
    text-decoration: none
}

a {
    outline: none;
}

#menutext a:hover {
    cursor: pointer
}

a {
    cursor: pointer
}

.head,.info {
    position: absolute
}

.info {
    left: 0;
    right: 0;
    height: 750px;
    width: 100%;
    background-color: #f8f8f8;
    top: 540px;
    z-index: 1001
}

.head {
    top: 0;
    text-align: center;
    font-size: 42px;
    font-family: 'Raleway',sans-serif;
    color: #f8f8f8;
    z-index: 5000;
    font-weight: normal
}

.head span {
    border: solid 3px #141823;
	/*background-image: url( https://www.walldevil.com/wallpapers/w07/simple-background-simple-hd-background.jpg );*/
	background-position: center;
	background-size: 100%;
	background-color: #141823;
}

.about,.head,hr {
    right: 0;
    left: 0
}

hr {
    width: 0px;
    height: 0px;
}

#menutext li .menH {
    display: inline-block;
    left: 0;
    right: 0;
    position: relative;
    width: 45px;
    transform: rotate(-5deg);
    top: 5px;
    text-align: center;
    margin: auto;
}

#aboutAnchor,#skillAnchor {
    top: -50px;
    height: 0;
    width: 0
}

#skillAnchor {
    top: 370px
}

#angular,#underAngular,.about,.about__body,hr {
    position: absolute;
    text-align: center
}

.about {
    height: 400px;
    background-color: #f8f8f8;
    top: 0
}

.about__body {
    left: 17%;
    line-height: 55px;
    right: 17%;
    top: 150px;
    font-family: 'Raleway',sans-serif;
    font-size: 32px;
    color: #141823
}

.skill,.skill__slider {
    position: absolute;
    right: 0;
    height: 630px;
    transition: 1s;
    cursor: default
}

.skill {
    left: 0;
    text-align: center;
    overflow: hidden;
    top: 420px
}

.skill__slider {
    top: 110px;
    bottom: 0;
    width: 100%;
    background-image: url(https://i.imgur.com/DvWOp6N.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 1000
}

.touch,.touchTwo {
    position: absolute;
    display: none
}

.skill:hover .skill__slider {
    right: -350%;
    transition: 1s;
    z-index: 960;
    cursor: default
}

.skill__cont {
    position: absolute;
    top: 110px;
    right: 0;
    left: 0;
    height: 500px;
    width: 100%;
    background-color: #f8f8f8;
    text-align: center;
    z-index: 980
}

.skill__cont__left,.skill__cont__right {
    position: absolute;
    top: -30px;
    left: 0;
    right: 50%;
    font-family: 'Raleway',sans-serif;
    list-style-type: circle;
    font-size: 23px;
    color: #141823;
    text-align: center;
    padding: 0
}

.skill__cont__right {
    left: 50%;
    right: 0
}

.skill__cont--nopad,.skill__cont--yespad {
    position: relative;
    left: 0;
    right: 0;
    padding-top: 30px;
    display: block;
    text-align: center
}

/*.skill__cont--yespad {
    padding-top: 155px
}*/

.skill__cont__first,.skill__cont__second {
    position: relative;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
    height: 100px;
    width: 100px;
    border-radius: 0
}

.skill__cont__mid {
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    font-family: 'Raleway',sans-serif;
    list-style-type: circle;
    font-size: 23px;
    color: #141823;
    text-align: center;
    padding: 0
}

#angular,#underAngular {
    left: 0;
    right: 0
}

#angular {
    font-family: 'Raleway',sans-serif;
    font-size: 38px;
    color: #141823;
    padding: 0;
    top: 25%
}

#underAngular {
    top: 45%;
    margin: auto;
    height: 100px;
    width: 100px
}

#workAnchor {
    top: 1105px;
    height: 0;
    width: 0
}

.work,.work__sabor {
    position: absolute;
    left: 0;
    right: 0
}

.work {
    text-align: center;
    overflow: hidden;
    top: 1155px;
    height: 1300px
}

.work__sabor {
    top: 210px;
    width: 100%;
    height: 330px;
    cursor: pointer
}

#guidepic,.work__sabor--pic {
    position: absolute;
    top: -30px;
    background-position: center
}

#guidepic {
    left: 315px;
    background-repeat: no-repeat;
    height: 70px;
    width: 160px;
    background-image: url(https://i.imgur.com/AgjFCMy.png);
    background-size: cover;
    z-index: 100
}

.work__sabor--pic {
    right: 0;
    width: 100%;
    height: 330px;
    background-image: url(https://i.imgur.com/okbgutU.jpg);
    background-size: 100%;
    opacity: .07;
    z-index: 80;
    transition: .5s;
    cursor: default
}

.work0 a:hover{
	border: solid 2px #141823;
}

.work__via {
    top: 470px
}

.work__via,.work__via--pic,.work__viier,.work__viier--pic {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 330px;
    cursor: default
}

.work__via--pic {
    background-image: url(https://i.imgur.com/bCT2Gw7.png);
    background-size: 100%;
    background-position: center;
    opacity: .07;
    z-index: 80;
    transition: .5s;
    top: 0
}

.work__viier {
    top: 810px
}

.work__viier--pic {
    top: 0;
    background-image: url(https://i.imgur.com/gwkw4uw.jpg);
    background-size: 100% 100%;
    background-position: center;
    opacity: .07;
    z-index: 80;
    transition: .5s
}

.work0,.work0a {
    text-align: center;
    font-family: 'Raleway',sans-serif;
    color: #141823;
    font-weight: normal
}

.work0 {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 180;
    top: -15px;
    font-size: 38px
}

.work0a {
    top: 50px;
    font-size: 20px
}

.work0a,.work0c,.work0e {
    position: absolute;
    left: 12%;
    right: 12%;
    text-align: center;
}

.work0c {
    text-align: center;
    font-family: 'Raleway',sans-serif;
    font-size: 28px;
    color: #141823;
    font-weight: normal;
    top: 95px;
}

.work0e {
    top: 135px
}

.work0e,.work0g,.work0i {
    text-align: center;
    font-family: 'Raleway',sans-serif;
    font-size: 28px;
    color: #141823;
    font-weight: normal
}

.work0g {
    position: absolute;
    left: 0;
    right: 0;
    top: 175px
}

.work0i {
    top: 215px
}

#schoolAnchor {
    top: 2370px;
    height: 0;
    width: 0
}

#uclaimg,.school,.work0i {
    position: absolute;
    left: 0;
    right: 0
}

.school {
    text-align: center;
    top: 2420px;
    height: 550px
}

#uclaimg {
    top: 110px;
    width: 100%;
    height: 440px;
    background-image: url(https://i.imgur.com/ShltU5q.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: .17
}

.school__ucla {
    top: 125px;
    font-size: 35px;
    font-family: 'Raleway',sans-serif;
    color: #141823;
    z-index: 5000
}

.school__location,.school__major,.school__ucla {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center
}

.school__location {
    font-family: 'Raleway',sans-serif;
    color: #141823;
    z-index: 5000;
    top: 185px;
    font-size: 20px
}

.school__major {
    top: 225px;
    font-size: 25px
}

.school__high,.school__major,.school__minor {
    font-family: 'Raleway',sans-serif;
    color: #141823;
    z-index: 5000
}

.school__minor {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 255px;
    font-size: 25px
}

.school__high {
    top: 345px;
    font-size: 35px
}

.contact,.school__high,.school__location2 {
    position: absolute;
    right: 0;
    left: 0;
    text-align: center
}

.school__location2 {
    font-size: 20px;
    font-family: 'Raleway',sans-serif;
    color: #141823;
    z-index: 5000;
    top: 405px
}

#contactAnchor {
    top: 3020px;
    height: 0;
    width: 0
}

.contact {
    top: 3070px;
    height: 700px;
    overflow: hidden
}

.forma {
    height: auto;
    width: 100%
}

.remform {
    display: none
}

.aftersent,input {
    font-family: 'Raleway',sans-serif;
    color: #141823
}

.aftersent {
    position: absolute;
    top: 120px;
    left: 100%;
    right: -175%;
    text-align: center;
    font-weight: normal;
    border: 3px solid #141823;
    font-size: 34px
}

input {
    background-color: #000;
    font-size: 22px;
    padding-left: 8px;
    padding-right: 8px
}

.nombre {
    position: absolute;
    top: 170px
}

#nombredos {
    top: 200px
}

#nombredos,.correo,.nombre,.telefo {
    left: 0;
    right: 0;
    margin: auto
}

.correo {
    position: absolute;
    top: 230px
}

#correodos,#nombredos,#telefodos {
    outline: none;
    border: solid 3px #141823;
    background-color: transparent;
    height: 40px;
    width: 375px
}

.telefo {
    top: 290px
}

#telefodos {
    left: 30px;
    top: 200px
}

#usebut,.donde,.telefo {
    position: absolute
}

.donde,textarea {
    background-color: transparent
}

.donde {
    right: 0;
    margin: auto;
    left: 0;
    top: 350px
}

#sendMessage,textarea {
    font-family: 'Raleway',sans-serif;
    outline: none;
    color: #141823
}

textarea {
    resize: none;
    padding-left: 8px;
    padding-right: 8px;
    border: solid 3px #141823;
    font-size: 23px;
    width: 375px;
    height: 190px
}

#usebut {
    left: 30px;
    top: 640px
}

#sendMessage {
    position: absolute;
    left: calc(50% + 108px);
    top: 560px;
    cursor: pointer;
    height: 40px;
    width: 90px;
    font-size: 20px;
    font-weight: normal;
    text-decoration: none;
    border: 3px solid #141823;
    transition: .3s;
    background-color: #f8f8f8
}

#sendMessage:hover {
	/*background-image: url( https://i.imgur.com/zQYYPZv.jpg );*/
	background-size: 100%;	
	background-color: #141823;
	color: #f8f8f8;
}

.contact__phone__text {
    left: 0;
    right: calc(50% + 187.5px);
    top: 220px;
    text-align: center
}

.contact__email,.contact__email__top,.contact__phone__number,.contact__phone__text {
    position: absolute;
    font-family: 'Raleway',sans-serif;
    font-size: 32px;
    color: #141823
}

.contact__phone__number {
    left: 0;
    right: calc(50% + 187.5px);
    text-align: center;
    top: 260px
}

.contact__email,.contact__email__top {
    left: calc(50% + 187.5px);
    right: 0
}

.contact__email__top {
    top: 220px
}

.contact__email {
    top: 260px
}

@media all and (max-width:1000px) and (min-width:330px) {
    .topimg,body {
        top: 0;
        left: 0;
        right: 0;
        width: 100%
    }

    body {
        overflow-x: hidden;
        padding: 0;
        margin: auto;
        background-size: cover;
        overflow: visible;
        background-color: #f8f8f8
    }

    .topimg {
        position: absolute;
        height: 450px;
        overflow: hidden;
        background-color: #000;
        background-image: url(https://i.imgur.com/zQYYPZv.jpg);
        background-repeat: repeat
    }

    .topimg__name,.topimg__name--text {
        position: absolute;
        right: 0;
        left: 0;
        text-align: center
    }

    .topimg__name {
        width: 230px;
        height: 50px;
        margin: auto;
		background-color: #e9e9e9;
		border: solid 3px #141823;
        top: 40px
    }

    .topimg__name--text {
        color: #141823;
        font-family: 'Raleway',sans-serif;
        font-size: 30px;
        font-weight: normal;
        top: -24px;
        bottom: 0
    }

    .topimg__myimg,.topimg__myimg--circle {
        border-radius: 70px;
        margin: auto;
        height: 140px;
        width: 140px
    }

    .topimg__myimg {
        top: 33%;
        left: 0;
        right: 0;
        text-align: center;
        background-color: #000;
        border: solid 2px #000;
        overflow: hidden;
        position: absolute
    }

    .topimg__myimg--circle {
        position: relative
    }

    .topimg__dev,.topimg__dev--text {
        position: absolute;
        right: 0;
        left: 0;
        text-align: center
    }

    .topimg__dev {
        width: 330px;
        height: 50px;
        margin: auto;
        background-color: #e9e9e9;
        top: 350px
    }

    .topimg__dev--text {
        color: #141823;
        font-family: 'Raleway',sans-serif;
        font-size: 30px;
        font-weight: normal;
        top: -24px;
        bottom: 0
    }

    .topimg__git {
        position: fixed;
        left: 5px;
        top: 10px;
        height: 50px;
        width: 50px;
        display: block;
        outline: none;
        text-decoration: none;
        z-index: 20000
    }

    .topimg__git--back,.topimg__git--click {
        outline: none;
        text-decoration: none;
        overflow: hidden
    }

    .topimg__git--back {
        height: 50px;
        width: 50px;
        background-image: url(https://i.imgur.com/cKO9x3q.png);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        transition: .3s;
        position: relative
    }

    .topimg__git--click {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0
    }

    .menu {
        display: none;
        height: 0
    }

    .head,.info,.menu {
        position: absolute
    }

    .info {
        left: 0;
        right: 0;
        height: 750px;
        width: 100%;
        background-color: #f8f8f8;
        top: 450px;
        z-index: 1001
    }

    .head {
        top: 0;
        text-align: center;
        font-size: 39px;
        font-family: 'Raleway',sans-serif;
        color: #f8f8f8;
        z-index: 5000;
        font-weight: normal
    }

    .about,.head,hr {
        right: 0;
        left: 0
    }

    hr {
        height: 0px;
        top: 55px
    }

    #aboutAnchor,#skillAnchor {
        top: -50px;
        height: 0;
        width: 0;
        left: 0;
        right: 0
    }

    #skillAnchor {
        top: 370px
    }

    .about,.about__body,hr {
        position: absolute;
        text-align: center
    }

    .about {
        height: 400px;
        width: 100%;
        background-color: #f8f8f8;
        top: 0
    }

    .about__body {
        left: 5%;
        right: 5%;
        top: 90px;
        font-family: 'Raleway',sans-serif;
        font-size: 30px;
        color: #141823;
        line-height: 40px
    }

    .skill,.skill__slider {
        position: absolute;
        right: 0;
        width: 100%
    }

    .skill {
        overflow: hidden;
        left: 0;
        text-align: center;
        top: 420px;
        height: 600px
    }

    .skill__slider {
        top: 110px;
        bottom: 0;
        height: 630px;
        background-image: url(https://i.imgur.com/DvWOp6N.jpg);
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        z-index: 1000
    }

    .skill:hover .skill__slider,.skill__cont,.skill__slider {
        transition: .8s;
        -webkit-transition: .8s;
        -moz-transition: .8s;
        transition-timing-function: ease-in-out;
        -webkit-transition-timing-function: ease-in-out;
        -moz-transition-timing-function: ease-in-out
    }

    .skill:hover .skill__slider {
        z-index: 960;
        right: -350%
    }

    .skill__cont {
        position: absolute;
        top: 110px;
        margin: auto;
        right: 0;
        left: 0;
        height: 480px;
        width: 100%;
        background-color: #f8f8f8
    }

    .skill__cont__left,.skill__cont__right {
        position: absolute;
	list-style-type: circle;
        top: -30px;
        left: 0;
        right: 50%;
        font-family: 'Raleway',sans-serif;
        font-size: 32px;
        color: #141823;
        text-align: center;
        padding: 0
    }

    .skill__cont__right {
        left: 50%;
        right: 0
    }

    #javcont {
        left: -13px;
        padding-top: 155px
    }

    #javcont,.skill__cont--nopad,.skill__cont__yespad {
        position: relative;
        right: 0;
        display: block;
        text-align: center
    }

    .skill__cont--nopad {
        left: 0;
        padding-top: 0
    }

    .skill__cont__yespad {
        left: 0;
        padding-top: 155px
    }

    .skill__cont__first,.skill__cont__second {
        position: relative;
        top: 20px;
        left: 0;
        right: 0;
        margin: auto;
        height: 80px;
        width: 80px;
        border-radius: 0
    }

    #angular,#underAngular {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center
    }

    #angular {
        font-family: 'Raleway',sans-serif;
        font-size: 32px;
        color: #141823;
        padding: 0;
        top: 24%
    }

    #underAngular {
        top: 42%;
        margin: auto;
        height: 80px;
        width: 80px
    }

    #workAnchor,.work {
        top: 1105px;
        height: 0;
        width: 0;
        left: 0;
        right: 0
    }

    .work {
        position: absolute;
        top: 1100px;
        height: 1300px;
        text-align: center;
        width: 100%
    }

    ::selection {
        background-color: transparent
    }

    ::-moz-selection {
        background-color: transparent
    }

    * {
        -webkit-tap-highlight-color: rgba(0,0,0,0)
    }

    [contenteditable],input[type=text],textarea {
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text
    }

    .work__sabor {
        position: absolute;
        left: 0;
        right: 0;
        top: 130px;
        width: 100%;
        height: 330px;
        text-decoration: none;
        color: none
    }

    .touch {
        position: absolute;
        display: inline;
        height: 60px;
        width: 60px;
        right: 25px;
	left: 0;
	margin: auto;
        top: -22px;
        background-image: url(https://i.giphy.com/l3vQWD6g6duMsX8VG.gif);
        background-size: 100% 100%;
        z-index: 1000
    }

    #guidepic,.touch,.work__sabor--pic {
        background-repeat: no-repeat;
        background-position: center
    }

    #guidepic {
        position: absolute;
        left: 2px;
        height: 40px;
        width: 90px;
        top: 7px;
        background-image: url(https://i.imgur.com/TrFdaVn.png);
        background-size: cover;
        z-index: 100
    }

    .work__sabor--pic {
        top: 0;
        width: 100%;
        height: 330px;
        background-image: url(https://i.imgur.com/cBAFUZv.png);
        background-size: 100% 100%;
        opacity: .07;
        transition: .5s;
        z-index: 99;
        text-decoration: none;
        color: none
    }

    .work__sabor--pic,.work__via,.work__via--pic {
        position: absolute;
        left: 0;
        right: 0
    }

    .work__via {
        width: 100%;
        height: 330px;
        cursor: pointer;
        text-decoration: none;
        top: 470px
    }

    .work__via--pic {
        top: 0;
        background-image: url(https://i.imgur.com/bCT2Gw7.png);
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        opacity: .07;
        z-index: 99;
        transition: .5s
    }

    .work__via--pic,.work__viier,.work__viier--pic {
        width: 100%;
        height: 330px;
        cursor: pointer;
        text-decoration: none
    }

    .work__viier {
        position: absolute;
        left: 0;
        right: 0;
        top: 810px
    }

    .work__viier--pic {
        top: 0;
        background-image: url(https://i.imgur.com/kY6cxN2.jpg);
        background-size: 100% 100%;
        background-position: center;
        opacity: .07;
        z-index: 99;
        transition: .5s
    }

    #viaSmaller,.work0,.work__viier--pic {
        position: absolute;
        left: 0;
        right: 0
    }

    .work0 {
        text-align: center;
        font-family: 'Raleway',sans-serif;
        color: #141823;
        font-weight: normal;
        top: -20px;
        font-size: 38px
    }

    #viaSmaller {
        top: -15px;
        font-size: 34px
    }

    .work0a {
	position: absolute;
	left: 15px;
	right: 15px;
        top: 40px;
        font-size: 18px
    }

    #viaCloser,#viaSmaller,.work0a,.work0c,.work0e,.work0g {
        text-align: center;
        font-family: 'Raleway',sans-serif;
        color: #141823;
        font-weight: normal
    }

    .work0c {
        position: absolute;
        left: 15px;
        right: 15px
    }

    #viaCloser {
	position: absolute;
	left: 15px;
	right: 15px;
        font-size: 18px;
        top: 35px
    }

    .work0c {
        top: 95px
    }

    .work0c,.work0e,.work0g {
        font-size: 20px
    }

    .work0e {
        position: absolute;
        left: 15px;
        right: 15px;
        top: 145px
    }

    .work0g {
        top: 195px
    }

    .work0g,.work0i {
        position: absolute;
        left: 10px;
        right: 10px
    }

    .work0i {
        text-align: center;
        top: 245px;
        font-family: 'Raleway',sans-serif;
        font-size: 20px;
        color: #141823;
        font-weight: normal
    }
	
    .workStuff {
	top: 500px;
	position: absolute;
    }

    #schoolAnchor {
        top: 2370px;
        height: 0;
        width: 0;
        right: 0;
        left: 0
    }

    .school {
	position: absolute;
	left: 0;
	right: 0;
        text-align: center;
	height: 550px;
        top: 2320px
    }

    #uclaimg {
        top: 0;
        width: 100%;
        background-image: url(https://i.imgur.com/ShltU5q.jpg);
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: absolute;
        left: 0;
        right: 0;
		height: 550px;
        opacity: .17
    }

    .school__ucla {
		position: absolute;
		left: 15px;
		right: 15px;
        top: 95px;
        font-size: 30px;
        font-family: 'Raleway',sans-serif;
        color: #141823;
        z-index: 5000
    }

    .school__location,.school__major {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center
    }

    .school__location {
        font-family: 'Raleway',sans-serif;
        color: #141823;
        z-index: 5000;
        top: 190px;
        font-size: 20px
    }

    .school__major {
        top: 225px;
        font-size: 25px
    }

    .school__high,.school__major,.school__minor {
        font-family: 'Raleway',sans-serif;
        color: #141823;
        z-index: 5000
    }

    .school__minor {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        top: 255px;
        font-size: 25px
    }

    .school__high {
        top: 345px;
        font-size: 30px
    }

    .contact,.school__high,.school__location2 {
        position: absolute;
        right: 0;
        left: 0;
        text-align: center
    }

    .school__location2 {
        font-size: 20px;
        font-family: 'Raleway',sans-serif;
        color: #141823;
        z-index: 5000;
        top: 405px
    }

    #contactAnchor {
        top: 3020px;
        height: 0;
        width: 0
    }

    .contact {
        top: 2950px;
        height: 1100px;
        overflow: hidden;
        overflow-x: hidden
    }

    .aftersent,input {
        font-family: 'Raleway',sans-serif;
        color: #141823
    }

    .aftersent {
        left: 100%;
        right: -175%;
        text-align: center;
        font-weight: normal;
        border: 3px solid #141823;
        font-size: 34px
    }

    input {
        background-color: #000;
        font-size: 20px;
        padding-left: 8px;
        padding-right: 8px
    }

    .aftersent,.nombre {
        position: absolute;
        top: 510px
    }

    #correodos,#nombredos,#telefodos {
        outline: none;
        border: solid 3px #141823;
        background-color: transparent;
        height: 40px;
        width: 70%;
        left: 0;
        right: 0;
        margin: auto
    }

    .correo,.nombre,.telefo {
        left: 0;
        right: 0;
        margin: auto
    }

    .correo {
        position: absolute;
        top: 570px
    }

    .telefo {
        top: 630px
    }

    #usebut,.donde,.telefo {
        position: absolute
    }

    .donde,textarea {
        left: 0;
        right: 0;
        margin: auto;
        background-color: transparent
    }

    .donde {
        top: 690px
    }

    #sendMessage,textarea {
        font-family: 'Raleway',sans-serif;
        outline: none;
        color: #141823
    }

    textarea {
        resize: none;
        padding-left: 8px;
        padding-right: 8px;
        border: solid 3px #141823;
        font-size: 23px;
        height: 190px;
        width: 70%
    }

    #usebut {
        left: 30px;
        top: 640px
    }

    #sendMessage {
        position: absolute;
        left: calc(90% - 96px);
        top: 900px;
        cursor: pointer;
        height: 40px;
        width: 90px;
        font-size: 20px;
        font-weight: normal;
        text-decoration: none;
        border: 3px solid #141823;
        background-color: #f8f8f8
    }

    .contact__phone__text {
        top: 145px;
        text-align: center
    }

    .contact__email,.contact__email__top,.contact__phone__number,.contact__phone__text {
        position: absolute;
        left: 0;
        right: 0;
        font-family: 'Raleway',sans-serif;
        font-size: 32px;
        color: #141823
    }

    .contact__phone__number {
        text-align: center;
        top: 185px
    }

    .contact__email__top {
        top: 285px
    }

    .contact__email {
        top: 325px
    }
}

@media all and (max-width:330px) and (min-width:300px) {
    .topimg,body {
        top: 0;
        left: 0;
        right: 0;
        width: 100%
    }

    body {
        overflow-x: hidden;
        padding: 0;
        margin: auto;
        background-size: cover;
        overflow: visible;
        background-color: #f8f8f8
    }

    .topimg {
        position: absolute;
        height: 450px;
        overflow: hidden;
        background-color: #000;
        background-image: url(https://i.imgur.com/zQYYPZv.jpg);
        background-repeat: repeat
    }

    .topimg__name,.topimg__name--text {
        position: absolute;
        right: 0;
        left: 0;
        text-align: center
    }

    .topimg__name {
        width: 210px;
        height: 45px;
        margin: auto;
        background-color: #e9e9e9;
        top: 40px
    }

    .topimg__name--text {
        color: #141823;
        font-family: 'Raleway',sans-serif;
        font-size: 28px;
        font-weight: normal;
        top: -24px;
        bottom: 0
    }

    .topimg__myimg,.topimg__myimg--circle {
        border-radius: 70px;
        margin: auto;
        height: 140px;
        width: 140px
    }

    .topimg__myimg {
        top: 33%;
        left: 0;
        right: 0;
        text-align: center;
        background-color: #000;
        border: solid 2px #000;
        overflow: hidden;
        position: absolute
    }

    .topimg__myimg--circle {
        position: relative
    }

    .topimg__dev,.topimg__dev--text {
        position: absolute;
        right: 0;
        left: 0;
        text-align: center
    }

    .topimg__dev {
        width: 305px;
        height: 45px;
        margin: auto;
        background-color: #e9e9e9;
        top: 350px
    }

    .topimg__dev--text {
        color: #141823;
        font-family: 'Raleway',sans-serif;
        font-size: 28px;
        font-weight: normal;
        top: -24px;
        bottom: 0
    }

    .topimg__git {
        position: fixed;
        left: 5px;
        top: 10px;
        height: 50px;
        width: 50px;
        display: block;
        outline: none;
        text-decoration: none;
        z-index: 20000
    }

    .topimg__git--back,.topimg__git--click {
        outline: none;
        text-decoration: none;
        overflow: hidden
    }

    .topimg__git--back {
        height: 50px;
        width: 50px;
        background-image: url(https://i.imgur.com/cKO9x3q.png);
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        transition: .3s;
        position: relative
    }

    .topimg__git--click {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0
    }

    .menu {
        display: none;
        height: 0
    }

    .head,.info,.menu {
        position: absolute
    }

    .info {
        left: 0;
        right: 0;
        height: 750px;
        width: 100%;
        background-color: #f8f8f8;
        top: 450px;
        z-index: 1001
    }

    .head {
        top: 0;
        text-align: center;
        font-size: 39px;
        font-family: 'Raleway',sans-serif;
        color: #f8f8f8;
        z-index: 5000;
        font-weight: normal
    }

    #aboutAnchor,.about,.head,hr {
        right: 0;
        left: 0
    }

    hr {
        height: 0;
        top: 55px
    }

    #aboutAnchor {
        top: -50px;
        height: 0;
        width: 0
    }

    .about,.about__body,hr {
        position: absolute;
        text-align: center
    }

    .about {
        height: 400px;
        width: 100%;
        background-color: #f8f8f8;
        top: 0
    }

    .about__body {
        left: 15px;
        right: 15px;
        top: 80px;
        font-family: 'Raleway',sans-serif;
        font-size: 28px;
        color: #141823;
        line-height: 40px
    }

    #skillAnchor,.skill {
        top: 370px;
        height: 0;
        width: 0;
        right: 0;
        left: 0
    }

    .skill {
        position: absolute;
        top: 420px;
        height: 600px;
        width: 100%;
        overflow: hidden;
        text-align: center;
        -webkit-transition: .8s;
        -moz-transition: .8s;
        transition-timing-function: ease-in-out;
        -webkit-transition-timing-function: ease-in-out;
        -moz-transition-timing-function: ease-in-out
    }

    .skill__slider,.touch {
        position: absolute;
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        z-index: 1000
    }

    .skill__slider {
        bottom: 0;
        -webkit-transition: .8s;
        -moz-transition: .8s;
        transition-timing-function: ease-in-out;
        -webkit-transition-timing-function: ease-in-out;
        -moz-transition-timing-function: ease-in-out;
        top: 110px;
        right: 0;
        height: 630px;
        width: 100%;
        background-image: url(https://i.imgur.com/DvWOp6N.jpg)
    }

    .touch {
        display: inline;
        height: 55px;
        width: 55px;
        right: 25px;
		left: 0;
		margin: auto;
        top: -17px;
        background-image: url(https://i.giphy.com/l3vQWD6g6duMsX8VG.gif)
    }

    .skill__cont {
        position: absolute;
        top: 110px;
        margin: auto;
        right: 0;
        left: 0;
        height: 480px;
        width: 100%;
        background-color: #f8f8f8
    }

    .skill__cont__left,.skill__cont__right {
        position: absolute;
        top: -30px;
        left: 0;
        right: 50%;
        font-family: 'Raleway',sans-serif;
        font-size: 32px;
        color: #141823;
        text-align: center;
        padding: 0
    }

    .skill__cont__right {
        left: 50%;
        right: 0
    }

    #javcont {
        left: -28px;
        padding-top: 155px
    }

    #javcont,.skill__cont--nopad,.skill__cont__yespad {
        position: relative;
        right: 0;
        display: block;
        text-align: center
    }

    .skill__cont--nopad {
        left: 0;
        padding-top: 0
    }

    .skill__cont__yespad {
        left: 0;
        padding-top: 155px
    }

    .skill__cont__first,.skill__cont__second {
        position: relative;
        top: 20px;
        left: 0;
        right: 0;
        margin: auto;
        height: 80px;
        width: 80px;
        border-radius: 0
    }

    #angular,#underAngular {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center
    }

    #angular {
        font-family: 'Raleway',sans-serif;
        font-size: 32px;
        color: #141823;
        padding: 0;
        top: 24%
    }

    #underAngular {
        top: 42%;
        margin: auto;
        height: 80px;
        width: 80px
    }

    #workAnchor,.work {
        top: 1105px;
        height: 0;
        width: 0;
        left: 0;
        right: 0
    }

    .work {
        position: absolute;
        top: 1100px;
        height: 1300px;
        text-align: center;
        width: 100%
    }

    ::selection {
        background-color: transparent
    }

    ::-moz-selection {
        background-color: transparent
    }

    * {
        -webkit-tap-highlight-color: rgba(0,0,0,0)
    }

    [contenteditable],input[type=text],textarea {
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text
    }

    .work__sabor {
        position: absolute;
        left: 0;
        right: 0;
        top: 130px;
        width: 100%;
        height: 330px;
        text-decoration: none;
        color: transparent
    }

    #guidepic{
        position: absolute;
        height: 40px;
        width: 90px;
        left: 3px;
        top: 5px;
        background-image: url(https://i.imgur.com/ZuX2DI7.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 100
    }

    .work__sabor--pic {
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 330px;
        background-image: url(https://i.imgur.com/cBAFUZv.png);
        background-size: 100% 100%;
        opacity: .07;
        transition: .5s;
        z-index: 80;
        text-decoration: none;
        background-color: transparent;
        color: transparent
    }

    .work__via {
        top: 470px
    }

    .work__via,.work__via--pic,.work__viier,.work__viier--pic {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 330px;
        cursor: pointer;
        text-decoration: none
    }

    .work__via--pic {
        background-image: url(https://i.imgur.com/bCT2Gw7.png);
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        opacity: .07;
        z-index: 80;
        transition: .5s;
        top: 0
    }

    .work__viier {
        top: 810px
    }

    .work__viier--pic {
        top: 0;
        background-image: url(https://i.imgur.com/kY6cxN2.jpg);
        background-size: 100% 100%;
        background-position: center;
        opacity: .07;
        z-index: 80;
        transition: .5s
    }

	.work0,.work0a {
		top: -15px;
        position: absolute;
        left: 15px;
        right: 15px
    }

    .work0 {
        text-align: center;
        font-family: 'Raleway',sans-serif;
        color: #141823;
        font-weight: normal;
        font-size: 34px
    }

    #viaSmaller {
		top: -15px;
		position: absolute;
		right: 0;
		left: 0;
        font-size: 30px
    }

    .work0a {
        top: 40px;
        font-size: 16px
    }

    #viaCloser,#viaSmaller,.work0a,.work0c,.work0e,.work0g {
        text-align: center;
        font-family: 'Raleway',sans-serif;
        color: #141823;
        font-weight: normal
    }

    #viaCloser,.work0c {
        position: absolute;
        left: 15px;
        right: 15px
    }

    #viaCloser {
        font-size: 16px;
        top: 35px
    }

    .work0c {
        top: 95px
    }

    .work0c,.work0e,.work0g {
        font-size: 17px
    }

    .work0e {
        position: absolute;
        left: 15px;
        right: 15px;
        top: 145px
    }

    .work0g {
        top: 195px
    }

    .work0g,.work0i {
        position: absolute;
        left: 15px;
        right: 15px
    }

    .work0i {
        text-align: center;
        top: 245px;
        font-family: 'Raleway',sans-serif;
        font-size: 17px;
        color: #141823;
        font-weight: normal
    }

    #schoolAnchor {
        top: 2370px;
        height: 0;
        width: 0;
        right: 0;
        left: 0
    }

    #uclaimg,.school {
		position: absolute;
		left: 0;
		right: 0;
        height: 550px
    }

    .school {
        text-align: center;
        top: 2320px
    }

    #uclaimg {
        top: 0;
        width: 100%;
        background-image: url(https://i.imgur.com/ShltU5q.jpg);
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        opacity: .17
    }

    .school__ucla {
        top: 95px;
        font-size: 30px;
        font-family: 'Raleway',sans-serif;
        color: #141823;
        z-index: 5000
    }

    .school__location,.school__major,.school__ucla {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center
    }

    .school__location {
        font-family: 'Raleway',sans-serif;
        color: #141823;
        z-index: 5000;
        top: 190px;
        font-size: 20px
    }

    .school__major {
        top: 225px;
        font-size: 25px
    }

    .school__high,.school__major,.school__minor {
        font-family: 'Raleway',sans-serif;
        color: #141823;
        z-index: 5000
    }

    .school__minor {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        top: 255px;
        font-size: 25px
    }

    .school__high {
        top: 345px;
        font-size: 30px
    }

    .contact,.school__high,.school__location2 {
        position: absolute;
        right: 0;
        left: 0;
        text-align: center
    }

    .school__location2 {
        font-size: 20px;
        font-family: 'Raleway',sans-serif;
        color: #141823;
        z-index: 5000;
        top: 405px
    }

    #contactAnchor {
        top: 3020px;
        height: 0;
        width: 0
    }

    .contact {
        top: 2950px;
        height: 1100px;
        overflow: hidden;
        overflow-x: hidden
    }

    .aftersent,input {
        font-family: 'Raleway',sans-serif;
        color: #141823
    }

    .aftersent {
        left: 100%;
        right: -175%;
        text-align: center;
        font-weight: normal;
        border: 3px solid #141823;
        font-size: 34px
    }

    input {
        background-color: #000;
        font-size: 20px;
        padding-left: 8px;
        padding-right: 8px
    }

    .aftersent,.nombre {
        position: absolute;
        top: 510px
    }

    #correodos,#nombredos,#telefodos {
        outline: none;
        border: solid 3px #141823;
        background-color: transparent;
        height: 40px;
        width: 70%;
        left: 0;
        right: 0;
        margin: auto
    }

    .correo,.nombre,.telefo {
        left: 0;
        right: 0;
        margin: auto
    }

    .correo {
        position: absolute;
        top: 570px
    }

    .telefo {
        top: 630px
    }

    #usebut,.donde,.telefo {
        position: absolute
    }

    .donde,textarea {
        left: 0;
        right: 0;
        margin: auto;
        background-color: transparent
    }

    .donde {
        top: 690px
    }

    #sendMessage,textarea {
        font-family: 'Raleway',sans-serif;
        outline: none;
        color: #141823
    }

    textarea {
        resize: none;
        padding-left: 8px;
        padding-right: 8px;
        border: solid 3px #141823;
        font-size: 23px;
        height: 190px;
        width: 70%
    }

    #usebut {
        left: 30px;
        top: 640px
    }

    #sendMessage {
        position: absolute;
        left: calc(90% - 96px);
        top: 900px;
        cursor: pointer;
        height: 40px;
        width: 90px;
        font-size: 20px;
        font-weight: normal;
        text-decoration: none;
        border: 3px solid #141823;
        background-color: #f8f8f8
    }

    .contact__phone__text {
        top: 145px;
        text-align: center
    }

    .contact__email,.contact__email__top,.contact__phone__number,.contact__phone__text {
        position: absolute;
        left: 0;
        right: 0;
        font-family: 'Raleway',sans-serif;
        font-size: 32px;
        color: #141823
    }

    .contact__phone__number {
        text-align: center;
        top: 185px
    }

    .contact__email__top {
        top: 285px
    }

    .contact__email {
        top: 325px
    }
}
